.navbar-wrapper {
  display: contents;
}
.navbar-navbar1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  border-color: var(--dl-color-pallet-rust);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-pallet-tan);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navbar-header {
  width: 100%;
  height: 51px;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar-navbar2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-top-left {
  flex: 1;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.navbar-right {
  width: 142px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar-text11 {
  text-decoration: none;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  margin-top: 0 24px 0 0;
  object-fit: cover;
  margin-left: 0 24px 0 0;
  border-color: transparent;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0 24px 0 0;
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-middle {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.navbar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment19 {
  display: contents;
}
.home-text20 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
  text-decoration: none;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment18 {
  display: contents;
}
.home-logo-center {
  display: inline-block;
  font-size: 35px;
  font-family: "Zain-Bold";
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-decoration: none;
}
.home-text18 {
  font-family: "Zain-Bold";
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
}



@media(max-width: 991px) {
  .navbar-right {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon10 {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .navbar-logo-center2 {
    margin-left: 0px;
  }
  .home-text20 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navbar-header {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}

.section-heading-wrapper {
  display: contents;
}
.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}


.footer-wrapper {
  display: contents;
}
.footer-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-pallet-rust);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  background-color: var(--dl-color-pallet-rust);
  border-top-width: 1px;
}
.footer-footer2 {
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-container2 {
  width: 219px;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 2px;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-icon1 {
  fill: var(--dl-color-gray-white);
  width: 25px;
  height: 25px;
  align-self: flex-start;
}
.home-fragment20 {
  display: contents;
}
.home-text39 {
  color: var(--dl-color-gray-whiteeee);
  display: inline-block;
  font-size: 14px;
  text-align: left;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-fragment21 {
  display: contents;
}
.home-text42 {
  fill: var(--dl-color-gray-whiteeee);
  color: var(--dl-color-gray-whiteeee);
  display: inline-block;
  font-size: 13px;
  text-align: right;
}




@media(max-width: 991px) {
  .footer-footer2 {
    flex-direction: row;
  }
  .footer-container1 {
    align-items: stretch;
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .footer-footer2 {
    padding: var(--dl-space-space-unit);
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
  background-color: var(--dl-color-pallet-tan);
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
  text-decoration: none;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-fragment18 {
  display: contents;
}
.home-logo-center {
  display: inline-block;
  font-size: 35px;
  font-family: "Zain-Bold";
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-decoration: none;
}
.home-text18 {
  font-family: "Zain-Bold";
}
.home-fragment19 {
  display: contents;
}
.home-text20 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-hero1 {
  height: 607px;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-max-width1 {
  max-width: 1032px;
}
.home-hero2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 429px;
  height: 544px;
  object-fit: cover;
}
.home-container2 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-info {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text21 {
  color: var(--dl-color-gray-black50);
  font-size: 12px;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: 18px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-pallet-rust);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  border-left-width: 2px;
}
.home-text22 {
  font-size: 60px;
  max-width: 450px;
  font-family: "Zain-Bold";
  font-weight: 500;
  line-height: 47px;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
.home-btn-group {
  width: 187px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-navlink {
  fill: var(--dl-color-gray-whiteeee);
  color: var(--dl-color-gray-whiteeee);
  width: 321px;
  font-size: 24px;
  align-items: center;
  font-family: "Zain-Bold";
  letter-spacing: 1px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-pallet-rust);
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.home-container3 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-text29 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text30 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1em;
  text-transform: uppercase;
}
.home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container5 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home-text33 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-svg {
  top: -30px;
  width: 199px;
  height: 200px;
  position: absolute;
}
.home-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-left {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-bottom {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-fragment20 {
  display: contents;
}
.home-text39 {
  color: var(--dl-color-gray-whiteeee);
  display: inline-block;
  font-size: 14px;
  text-align: left;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-fragment21 {
  display: contents;
}
.home-text42 {
  fill: var(--dl-color-gray-whiteeee);
  color: var(--dl-color-gray-whiteeee);
  display: inline-block;
  font-size: 13px;
  text-align: right;
}
@media(max-width: 991px) {
  .home-text20 {
    margin-left: 0px;
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-container2 {
    align-self: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text22 {
    text-align: left;
  }
  .home-left {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    padding-top: 55px;
  }
  .home-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
}
