.navbar-navbar1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  border-color: var(--dl-color-pallet-rust);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-pallet-tan);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.navbar-header {
  width: 100%;
  height: 51px;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar-navbar2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-top-left {
  flex: 1;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: flex-start;
}
.navbar-right {
  width: 157px;
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar-text11 {
  text-decoration: none;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 24px;
  height: 24px;
  display: none;
  position: relative;
  box-sizing: border-box;
  margin-top: 0 24px 0 0;
  object-fit: cover;
  margin-left: 0 24px 0 0;
  border-color: transparent;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0 24px 0 0;
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-middle {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.navbar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-fragment10 {
  display: contents;
}
.navbar-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment11 {
  display: contents;
}
.navbar-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment12 {
  display: contents;
}
.navbar-text20 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.navbar-fragment13 {
  display: contents;
}
.navbar-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment14 {
  display: contents;
}
.navbar-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment15 {
  display: contents;
}
.navbar-text23 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
  text-decoration: none;
}
.navbar-fragment16 {
  display: contents;
}
.navbar-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment17 {
  display: contents;
}
.navbar-logo-center3 {
  display: inline-block;
  font-size: 35px;
  font-family: "Zain-Bold";
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-decoration: none;
}
.navbar-text25 {
  font-family: "Zain-Bold";
}
.navbar-fragment18 {
  display: contents;
}
.navbar-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-fragment19 {
  display: contents;
}
.navbar-text28 {
  display: inline-block;
  font-size: 22px;
  font-family: "Zain-Bold";
}



@media(max-width: 991px) {
  .navbar-right {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon10 {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .navbar-logo-center2 {
    margin-left: 0px;
  }
  .navbar-text20 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navbar-header {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}
